<div class="d-flex justify-content-between align-items-baseline">
    <h1>Tenants</h1>
    <%= link_to 'æ–°å¢', new_tenant_path, class: 'btn btn-success px-5' %>
</div>

<div class="row card-desk">
    <% (0..5).each do |x| %>
        <%= render 'tenant' %>
    <% end %>
</div>