<h1>Messages</h1>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Messages Center</h4>
        <h6 class="card-subtitle">消息搜索展示</h6>
        <div class="table-responsive">
            <table class="table">
            <thead class="text-white" style="background-color: #36bea6;">
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Title</th>
                    <th>date</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Jack</td>
                    <td>this is a message</td>
                    <td>23/4/2021</td>
                    <td><%= link_to "详情", message_path(:id => 1), class: "stretched-link", class:"btn btn-outline-primary" %></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Jack</td>
                    <td>this is a message</td>
                    <td>23/4/2021</td>
                    <td><%= link_to "详情", messages_url, class: "stretched-link", class:"btn btn-outline-primary" %></td>

                </tr>
                <tr>
                    <td>1</td>
                    <td>Jack</td>
                    <td>this is a message</td>
                    <td>23/4/2021</td>
                    <td><%= link_to "详情", messages_url, class: "stretched-link", class:"btn btn-outline-primary" %></td>

                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
