<div class="list-group">
    <% @notifications.each do |f| %>
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start" style=" background-color: #fff6d4a1"  >
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= f.title %></h5>
        <small class="text-muted"><%= f.create_t.to_date.to_formatted_s(:iso8601)  %></small>
    </div>
    <p class="mb-1"><%= f.content %>
    </p>
    <small class="text-muted"><%= f.tenant_name %></small>
</a>
<% end %>
</div>