<div class="card" style="width: 18rem;">
    <div class="card-body">
        <span class="d-block font-14 font-weight-500 text-dark">本日发送量</span>
        <div class="display-3 font-weight-500 text-dark">48</div>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <span class="d-block font-14 font-weight-500 text-dark">本月发送量</span>
        <div class="display-3 font-weight-500 text-dark">235</div>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <span class="d-block font-14 font-weight-500 text-dark">本年发送量</span>
        <div class="display-3 font-weight-500 text-dark">4365</div>
    </div>
</div>